{% extends "base.html" %} {% block content %}

<h2>Books</h2>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Available</th>
    <th>Action</th>
  </tr>

  {% for book in books %}
  <tr>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.available_copies }}</td>
    <td>
      <div class="d-flex gap-2">
        {% if book.available_copies > 0 %}
        <a href="/borrow/{{ book.id }}" class="btn btn-primary btn-sm"
          >Borrow</a
        >
        {% else %}
        <button class="btn btn-secondary btn-sm" disabled>Unavailable</button>
        {% endif %} {% if current_user and current_user.is_librarian %}
        <a
          href="/admin/books/{{ book.id }}/edit"
          class="btn btn-warning btn-sm"
        >
          Edit
        </a>

        <form
          method="POST"
          action="/admin/books/{{ book.id }}/delete"
          style="display: inline"
          onsubmit="
            return confirm('Are you sure you want to delete this book?');
          "
        >
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>

        {% endif %}
      </div>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
