{% extends "base.html" %} {% block content %}

<h2>Sign Up</h2>

<form method="POST">
  <input name="name" placeholder="Name" class="form-control mb-2" required />
  <input name="email" placeholder="Email" class="form-control mb-2" required />
  <input
    name="password"
    type="password"
    placeholder="Password"
    class="form-control mb-3"
  />

  <input
    name="confirm_password"
    type="password"
    placeholder="Confirm Password"
    class="form-control mb-3"
  />
  <button class="btn btn-success">Create Account</button>
</form>

{% endblock %}
